<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="./styles/base.css" />
  </head>
  <body>
    <div class="header">${header}</div>
    <div class="main">
      <h4>Landing Page</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        laborum minus hic beatae minima vero sit dolor debitis iusto voluptatum
        rem, molestias aperiam ex nobis fugiat. Modi quibusdam porro. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Minima libero,
        distinctio nisi numquam molestias recusandae nemo soluta voluptate quasi
        odio error ea asperiores assumenda explicabo fuga in, accusamus
        perferendis placeat. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptatem et non hic eos maxime, temporibus error laboriosam
        doloribus quia itaque facere animi aliquid minima? Minima sequi qui a
        mollitia odio.
      </p>

      <img src="./images/josh_allen.jpg" />
      <button>Click here for a picture</button>
    </div>

    <div class="footer">${footer}</div>
  </body>
</html>
