* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  flex-basis: 5vh;
  background-color: lightblue;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main {
  flex-basis: 90vh;
  text-align: center;
  margin: 0 20px;
}

.footer {
  display: flex;
  flex-basis: 5vh;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.main p {
  margin-bottom: 20px;
}

.josh {
  height: 100%;
  overflow: hidden;
}

img {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

button {
  margin-top: 10px;
}

/*small screen sizes */
.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*large screen sizes*/

@media screen and (min-width: 1270px) {
  .grid {
    display: flex;
    flex-direction: row;
    height: 70vh;
    gap: 10px;
  }

  .col-1 {
    flex-basis: 50%;
    height: 100%;
    /* background-color: aquamarine; */
    /* border: 1px solid red; */
  }

  .col-2 {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    /* align-items: space-between; */
    /* background-color: beige; */
    /* border: 1px solid red; */
    gap: 0px;
  }

  .img-1 {
    flex-basis: 49%;

    /* background-color: burlywood; */
  }

  .img-2 {
    flex-basis: 49%;
    margin-left: 5px;
    /* background-color: cornflowerblue; */
  }

  .img-3 {
    flex-basis: 49%;

    /* background-color: lightcoral; */
  }

  .img-4 {
    flex-basis: 49%;
    margin-left: 5px;

    /* background-color: goldenrod; */
  }
}
